<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Juan Felipe Rios Chaparro 
    <br>
    juanf-riosc@unilibre.edu.co{{ title }}!
  </h1>
  <div>
    <ul>
      <li *ngFor="let pais of elemento">{{pais.nombre}}</li>
      <li *ngFor="let pais of elemento">{{pais.simbolo}}</li>
      <li *ngFor="let pais of elemento">{{pais.numero}}</li>
      <li *ngFor="let pais of elemento">{{pais.peso}}</li>
    </ul>
  </div>
</div>



<router-outlet></router-outlet>